<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>chat</display-name>
  <welcome-file-list>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>serReminder.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.chatassistant.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chatassistant.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.chatassistant.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.chatassistant.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.chatassistant.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/NoteServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ViewNotesServlet</display-name>
    <servlet-name>ViewNotesServlet</servlet-name>
    <servlet-class>com.chatassistant.ViewNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNotesServlet</servlet-name>
    <url-pattern>/ViewNotesServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SetReminderServlet</display-name>
    <servlet-name>SetReminderServlet</servlet-name>
    <servlet-class>com.chatassistant.SetReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReminderServlet</servlet-name>
    <url-pattern>/SetReminderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyTipServlet</display-name>
    <servlet-name>DailyTipServlet</servlet-name>
    <servlet-class>com.chatassistant.DailyTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyTipServlet</servlet-name>
    <url-pattern>/DailyTipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.chatassistant.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailsServlet</display-name>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <servlet-class>com.chatassistant.ViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <url-pattern>/ViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movieServlet</display-name>
    <servlet-name>movieServlet</servlet-name>
    <servlet-class>com.chatassistant.movieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieServlet</servlet-name>
    <url-pattern>/movieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeactivateAccountServlet</display-name>
    <servlet-name>DeactivateAccountServlet</servlet-name>
    <servlet-class>com.chatassistant.DeactivateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateAccountServlet</servlet-name>
    <url-pattern>/DeactivateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServerStatus</display-name>
    <servlet-name>CheckServerStatus</servlet-name>
    <servlet-class>com.chatassistant.CheckServerStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServerStatus</servlet-name>
    <url-pattern>/CheckServerStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.chatassistant.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeathereServlet</display-name>
    <servlet-name>WeathereServlet</servlet-name>
    <servlet-class>com.chatassistant.WeathereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeathereServlet</servlet-name>
    <url-pattern>/WeathereServlet</url-pattern>
  </servlet-mapping>
</web-app>